<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phone Book</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Hello</h1>
    <ul>
      <% if(data.length) { %> <% data.forEach(({name, number, id})=> { %>
      <li>
        <a href="/phone" data-id="<%= id %>"><%= name %> <%= number %></a
        ><button data-id="<%= id %>">Delete</button>
      </li>
      <% }) %> <% } %>
    </ul>

    <script>
      window.addEventListener("click", (e) => {
        const id = e.target?.dataset?.id || null;
        console.log(id);
        if (id) {
          fetch(`/phone/${id}`, {
            method: "DELETE",
          }).then(() => {
            // window.location.reload();
          });
        }
      });
    </script>
  </body>
</html>
